* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #062446; /* cor da sua paleta */
    color: #ffffff;
}

:root {
    --cor-primaria: #002152;
    --cor-secundaria: #062446;
    --cor-destaque: #3e91ff;

    --texto-claro: #ffffff;
    --texto-escuro: #0d0d0d;
}
a {
    color: inherit;
}
header {
    background-color: var(--cor-secundaria);
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    hover: color var(--cor-primaria);
    
}
footer {
    background-color: var(--cor-primaria);
    color: var(--texto-claro);
    text-align: center;
    padding: 16px 32px;
    position: relative;
    bottom: 0;
    width: 100%;
}