/* SLIDESHOW CSS */
.banner-slider {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: slideShow 16s infinite ease-in-out;
}

/* ANIMAÇÃO 3 BANNERS */
@keyframes slideShow {

    /* slide 1 */
    0%,
    30% {
        background-image: url("../img/landing/bannerLanding.png");
    }

    /* slide 2 */
    33%,
    63% {
        background-image: url("../img/landing/destaque1.png");
    }

    /* slide 3 */
    66%,
    100% {
        background-image: url("../img/landing/destaque2.png");
    }
}


/* Sobre */
.about{
    padding:80px 20px;
    display:flex;
    justify-content:center
} 
.about-box{
    padding:36px;
    border-radius:18px;
    max-width:900px;
    text-align:center;
    background:rgba(0,0,0,0.25);
    backdrop-filter: blur(6px);
}
.about-box h2{
    font-size:32px;
    color:var(--cor-destaque);
}
.about-box p{
    font-size:18px;
    color:var(--texto-secundario);
}

/* Profissionais */
.professionals{
    padding:70px 20px;
    text-align:center;
}
.section-title{
    font-size:32px;
    margin-bottom:36px;
    color:var(--cor-destaque);
}

.cards-container{
    display:flex;
    justify-content:center;
    gap:28px;
    flex-wrap:wrap;
}

/* Foto */
.card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* CARD */
.card{
    background:rgba(255,255,255,0.08);
    border:1px solid rgba(255,255,255,0.12);
    backdrop-filter: blur(6px);
    border-radius:16px;
    width:300px;
    padding:20px;
    transition:0.3s;
    cursor:pointer;
    overflow:hidden;
}

.card:hover{
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 18px 40px rgba(2,8,20,0.6);
    border-color: var(--cor-destaque);
}

.role{
    color:var(--cor-destaque);
    font-weight:600;
}

.card-info{
    color:var(--texto-secundario);
    opacity:0;
    max-height:0;
    transition:0.35s ease;
}

.card:hover .card-info{
    opacity:1;
    max-height:200px;
}

/* botão recomendar */
.btn-recommend {
    width: 100%;
    margin-top: 14px;
    padding: 12px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    background: linear-gradient(90deg, var(--cor-destaque), #58a7ff);
    color: #042033;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-recommend:hover {
    transform: translateY(-3px);
}

/* botão ver mais */
.btn-verprofissionais{
    display:inline-block;
    margin-top:18px;
    padding:12px 20px;
    border-radius:12px;
    background:linear-gradient(90deg,var(--cor-destaque), #58a7ff);
    color:#042033;
    font-weight:700;
    transition:0.3s;
}
.btn-verprofissionais:hover{
    transform:translateY(-3px)
}
